<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463959258413-fe3lbhprvut1qu7efijldu66fcp1muva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463959258413-fe3lbhprvut1qu7efijldu66fcp1muva</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>463959258413-g7kgdm97apn9ernf39l3547e8m00ms2j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZf7XlDJWA6hAx5AN7nJ0FdCho8hpVQZY</string>
	<key>GCM_SENDER_ID</key>
	<string>463959258413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>social.joinme.app</string>
	<key>PROJECT_ID</key>
	<string>joinme-2dcba</string>
	<key>STORAGE_BUCKET</key>
	<string>joinme-2dcba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463959258413:ios:08b10ddfbd923c1dac0fa4</string>
</dict>
</plist>